<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleBlog.css">
    <title>{{ title }}</title>
</head>

<body>
    <header class="header">
        <h1>Generic - After Hours</h1>
        <div class="clock">The Time is: <span class="time"></span></div>
    </header>
    <div class="main">
        <img src="/images/menu.svg" alt="" srcset="" class="menu">
        <div class="otherBlogs">
            <h3>Other Blogs</h3>
            <ul>
                {% for post in collections.blog %}
                <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            {{ page | lastModified }}
            {{ content }}
        <div class="back">
            <a href="/pages/page">Go Back?</a>
        </div>
        </div>

        
    </div>

    <script src="/scripts/script.js"></script>
    <script src="/scripts/blog.js"></script>
</body>

</html>