@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

body{
    background-image: url("/images/bgabout2.BMP");
}

.main{
    background-color: bisque;
    width: 75vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 0 0 5px 0 rgb(53, 52, 52);
    

}
.main > .bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 4, 148);
    color: rgb(241, 239, 204);
    text-align: center;
    padding: 1px;
    text-shadow: 1px 1px 0px black;
}

.main > .bar > .title{
    flex: 1;
}

.main > .bar > .min,
.main > .bar > .x{
    background-color: gray;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.main > .content{
    padding: 10px;
    text-align: center;
}

.main > .content > h1{
    text-shadow: 5px 0px 0px rgb(212, 198, 198);
}

.main > .content > .meBox{
    padding: 10px;
    background-image: url("/images/bgabout.BMP");
    border: 2px solid black;
}

.main > .content > .meBox > .me{
    width: 13vw;
    height: 23vh;
    border: 5px solid rgb(12, 150, 85);

}

.main > .content > .moreContent{
    display: flex;
    text-align: left;
    padding-top: 10px;
    gap: 10px;
    
}
.borer{
    border: 5px double black;
    padding: 5px;
}

.main > .content > .moreContent > .aboutMeTxt{
    text-align: justify;
    width: 25vw;
    text-decoration: underline rgb(63, 49, 32);
}
.main > .content > .moreContent > .likes{
    width: 25vw;
}