@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

:root {
    --text: #545454;
    --secondary: #B87D4B;
    --blue: #2E5EAA;
    --white: #E8E9EB;
}

body {
    background-image: url(../images/backgroundB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin: auto;
    text-align: center;
    background-color: #552c2cab;
    color: var(--white);
    width: 75%;
    padding: 15px;
    font-size: 4.2ch;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px !important;
    border: 10px double rgb(26, 30, 236);
    box-shadow: 0px 0px 10px 0px rgba(32, 12, 204, 0.575);

}

.header>h1 {
    font-family: "Alex Brush", cursive;
    align-self: center;
    text-shadow: 0px 0px 10px rgba(32, 12, 204, 0.575);
}

.header>.clock {
    font-size: 0.9ch;
}
.main{
    display: flex;
    width: 75%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e5eaa34;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(10, 10, 187);
    color: var(--white);
    gap: 20px;
}

.main > .otherBlogs{
    width: 25vw;
    border-right: 3px solid var(--text);
    padding: 5px;
}

.main > .otherBlogs > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.main > .otherBlogs > ul > li > a{
    text-decoration: none;
    color: #B87D4B;
}

[aria-current]{
    background-color: var(--text);
    border-left: 3px solid var(--secondary);
}

.main > .content > figure > .imageBlog{
    width: 300px;
    height: 300px;
    padding: 10px;
}

.main > .content > .back{
    margin-top: 20px;
}

.main > .content > .back > a{
    border: 2px solid rgb(221, 120, 26);
    flex: 0 1 auto;
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: #B87D4B;
    background-color: #54545446;
    border-radius: 10px;
    
}