@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

:root {
    --text: #545454;
    --secondary: #B87D4B;
    --blue: #2E5EAA;
    --white: #E8E9EB;
}

body {
    min-height: 100vh;
    background-image: url(../images/backgroundB.jpg);
    background-repeat: no-repeat center center;
    background-size: cover;
    
}

.header {
    margin: auto;
    text-align: center;
    background-color: #552c2cab;
    color: var(--white);
    width: 75%;
    padding: 15px;
    font-size: 4.2ch;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px !important;
    border: 10px double rgb(26, 30, 236);
    box-shadow: 0px 0px 10px 0px rgba(32, 12, 204, 0.575);

}

.header>h1 {
    font-family: "Alex Brush", cursive;
    align-self: center;
    text-shadow: 0px 0px 10px rgba(32, 12, 204, 0.575);
}

.header>.clock {
    font-size: 0.9ch;
}
.main{
    display: flex;
    width: 75%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e5eaa34;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(10, 10, 187);
    color: var(--white);
    gap: 20px;
    
}

.main > .menu{
    display: none;
    background-color: var(--secondary);
    position: absolute;
    width: 5vw;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.main > .otherBlogs{
    width: 20vw;
    border-right: 3px solid var(--text);
    padding: 5px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.main > .otherBlogs h3{
    margin-top: 20px;
}

.hidder{
    width: 0px !important;
    overflow: hidden;
    padding: 0 !important;
}

.rotate{
    transform: rotate(90deg);
}

.main > .otherBlogs > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    
}

.main > .otherBlogs > ul > li > a{
    text-decoration: none;
    color: #B87D4B;
}

[aria-current]{
    background-color: var(--text);
    border-left: 3px solid var(--secondary);
    
}

.main > .content {
    margin-left: 5px;
}


.main > .content > figure > .imageBlog{
    width: 30vw;
    height: 35vh;
    padding: 10px;
}

.main>.content>figure>.imageBlogPortrait{
    width: 15vw;
    height: 35vh;
    padding: 10px;
}

.main > .content > .back{
    margin-top: 20px;
}

.main > .content > .back > a{
    border: 2px solid rgb(221, 120, 26);
    flex: 0 1 auto;
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: #B87D4B;
    background-color: #54545446;
    border-radius: 10px;
    
}

@media only screen and (max-width: 1000px){
    .header{
        width: 90%;
    }
    .main{
        width: 90%;
    }
    .main > .otherBlogs{
        width: 25vw;
    }
}

@media only screen and (max-width: 780px){
    body{
        background-size: 250vh;
    }
    .header{
        font-size: 3.5ch;
    }
    .main > .otherBlogs{
        width: 65vw;
    }
    .main > .content > figure > .imageBlog{
        width: 30vw;
        height: 45vh;
    }
}

@media only screen and (max-width: 661px){
    .header{
        font-size: 3ch;
    }
    .main > .otherBlogs{
        width: 75vw;
    }
    
    
}
@media only screen and (max-width: 600px){
    body{
        background-size: 200vh;
    }
    .header{
        width: 99%;
    }
    .main{
        width: 95%;
        
    }
    .main > .menu{
        display: block;
        width: 5vw;
    }

    .main > .otherBlogs{
        font-size: 2ch;
        margin-top: 20px;
        position: absolute;
        background-color: rgb(92, 83, 83);
        
    }
    [aria-current]{
        background-color: #2E5EAA;
    }
    .main > .content{
        margin-left: 30px;
    }
}

@media only screen and (max-width: 500px){
    .header h1{
        font-size: 2ch;
    }
    .main > .menu{
        width: 7vw;
    }
    .main > .content{
        margin-left: 40px;
    }
    .main > .content > figure > .imageBlog{
        width: 77vw;
        height: 45vh;
    }
    .main>.content>figure>.imageBlogPortrait{
        width: 72vw;
    }
}

@media only screen and (max-width: 400px){
    .header {
        padding: 8px;
    }
    .main > .menu{
        width: 10vw;
    }
    .main > .content{
        margin-left: 35px;
    }
}
